#ground {
    bottom: 0;
}

#background {
    top: 0;
    left: 0;
}

#wall {
    top: 30%;
}

#desks {
    bottom: 0;
    left: 0;
}

#curtains {
    bottom: 0;
    right: 0;
}

#pc {
    bottom: 35%;
    left: 32%;
    cursor: pointer;
}

#doc {
    left: 35%;
    top: 20%;
    cursor: pointer;
}

#play_pc {
    right: 23%;
    top: 25%;
    cursor: pointer;
}

#lights {
    bottom: 55%;
    left: 5%;
    cursor: pointer;
}

#exit {
    left: 50%;
    bottom: 55%;
    cursor: pointer;
}

#image_exit_overlay {
background-color: white;
}

#image_pc_container > img {
    position: absolute;
}

#image_exit_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#fullscreen_image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#dark_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background: radial-gradient(circle 240px at var(--x, 50%) var(--y, 50%), transparent 0%, rgba(57, 10, 10, 0.95) 100%);
    z-index: 10;
}
