#ground {
    bottom: 0;
}

#background {
    top: 0;
    left: 0;
}

#wall {
    top: 30%;
}

#desks {
    bottom: 0;
    left: 0;
}

#monkey_1 {
    right: 4%;
    bottom: 35%;
}

#monkey_2 {
    right: 15%;
    bottom: 40%;
    transform: scaleX(-1);
}

#monkey_3 {
    right: 25%;
    bottom: 30%;
}

#dr_frankland {
    bottom: 0;
    left: 10%;
    cursor: pointer;
}

#dr_stapland {
    bottom: 0;
    right: 8%;
    cursor: pointer;
}

#cage {
    bottom: 0;
    right: 0;
}

#timer {
    position: absolute;
    padding: 3%;
    display: flex;
    z-index: 12;
    width: 100%;
    justify-content: center;
    color: #3f4154;
    font-size: 1.6rem;
}

#exit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 9999;
    display: none;
}

/* dr frankland questions */
.question > div > img:hover {
    transform: scale(1.1); 
}

/* sherlock's intervention */
#text_stapleton {
    bottom: 48%;
    right: 23%;
}

#sherlock_stapleton {
    bottom: -5%;
    right: 45%;
}


/* responsive */
@media (max-width: 1600px) {
    #text_stapleton {
        bottom: 44%;
    }
}

@media (max-width: 1480px) { 
    #text_stapleton {
        bottom: 39%;
    }
}

@media (max-width: 1430px) { 
    #monkey_2 {
        bottom: 35%;
    }
}

@media (max-width: 1380px) { 
    #text_stapleton {
        bottom: 34%;
    }
}

@media (max-width: 1300px) { 
    #monkey_1 {
    bottom: 25%;
    }

    #monkey_2 {
        bottom: 30%;
    }

    #monkey_3 {
        bottom: 25%;
    }
}

@media (max-width: 1280px) { 
    #text_stapleton {
        bottom: 30%;
    }
}