#ground {
    bottom: 0;
}

#background {
    top: 0;
    left: 0;
}

#wall {
    top: 30%;
}

#desks {
    bottom: 0;
    left: 0;
}

#monkey_1 {
    right: 4%;
    bottom: 35%;
}

#monkey_2 {
    right: 15%;
    bottom: 40%;
    transform: scaleX(-1);
}

#monkey_3 {
    right: 25%;
    bottom: 30%;
}

#dr_frankland {
    bottom: 0;
    left: 10%;
}

#dr_stapland {
    bottom: 0;
    right: 8%;
}

#dr_frankland:hover,
#dr_stapland:hover {
    cursor: pointer;
}

#cage {
    bottom: 0;
    right: 0;
}

#timer {
    position: absolute;
    padding: 3%;
    display: flex;
    z-index: 12;
    width: 100%;
    justify-content: center;
    color: #3f4154;
    font-size: 1.6rem;
}

#exit {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 9999;
    display: none;
}