html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    background-color: #67697b;
}

#clues_container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.clue {
    position: absolute;
}

.clue > img {
    width: 250px;
    height: auto;
}