body {
    font-family: Arial, sans-serif
}

html,
body {
    overflow: hidden;
    margin: 0;
}

header > a,
header > img {
    z-index: 20;
    position: absolute;
    cursor: pointer;
}

#back, #play {
    top: 4%;
    left: 2%;
}

#next, #answer, #close {
    top: 4%;
    right: 2%;
}

#clues {
    bottom: 2%;
    right: 0.5%;
}

#map {
    bottom: 2%;
    right: 8%;
}

p,
a {
    font-size: 1.4rem;
    color: #f0d3aa;
}

main>img {
    position: absolute;
}

.hidden {
    display: none;
}

/* Clues */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: #67697b;
}

.overlay_header {
    display: flex;
    width: 95%;
    justify-content: end;
    padding: 3%;
    position: absolute;
}

#close_clues,
#close_answer,
#close_image_exit,
#close_image_pc {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 30;
}

#clues_container {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 10%;
}

#clues_container > p {
    color: #f0d3aa;
    padding: 5%;
}

.clue {
    position: absolute;
}

.clue > img {
    width: 50%;
    height: auto;
}

/* final answer */
.guess_area {
    position: absolute;
    left: 5%;
    top: 30%;
}

.guess_area > div {
    display: flex;
    flex-direction: row;
    width: 280%;
}

.guess_area > div > input {
    padding: 3% 5%;
    background-image: url('../images/nav/answer_input.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    color: #3f4154;
    font-size: 1.4rem;
    border: none;
    margin-right: 5%;
    outline: none;
}

.guess_area > div > button {
    padding: 3% 5%;
    background-image: url('../images/nav/submit.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    color: #3f4154;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 1.4rem;
}

#culprit_result {
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 40%;
}

/* Sherlock's interventions */
#text_word,
#sherlock_word,
#text_photo,
#sherlock_photo,
#text_warning,
#sherlock_warning,
#text_hound,
#sherlock_hound,
#text_pass,
#sherlock_pass,
#text_stapleton,
#sherlock_stapleton,
#text_henry,
#text_out,
#sherlock_out,
#text_lights,
#sherlock_lights,
#text_drug,
#sherlock_drug,
#text_tv,
#sherlock_tv {
    display: none;
    z-index: 15;
}


/* Interaction's with the characters */
.question {
    position: absolute;
    bottom: 8%;
    left: 3%;
    z-index: 1000;
}

.question_images>img {
    display: block;
    cursor: pointer;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}


/* sound */
@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.08);
    }
}

.pulse {
    animation: pulse 2s ease-in-out infinite;
}


/* smaller screens */
#screen_message {
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 3% 5%;
    background-color: #67697b;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
  
#screen_message > img {
    position: absolute;
    bottom: 5%;
    left: 0;
}

.invisible {
    visibility: hidden;
}
