body {
    font-family: Arial, sans-serif
}

html,
body {
    overflow: hidden;
    margin: 0;
}

header {
    position: absolute;
    display: flex;
    z-index: 15;
    width: 95%;
    padding: 2%;
    justify-content: end;
}

.sound {
    justify-content: space-between;
}

.sound > div {
    display: flex;
    gap: 8%;
}

a {
    color: black;
    text-decoration: none;
}

p,
a {
    font-size: 1.4rem;
}

main > img {
    position: absolute;
}

.hidden {
    display: none;
}

/* Clues */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background-color: #67697b;
}

.overlay_header {
    display: flex;
    width: 95%;
    justify-content: end;
    padding: 3%;
}

#close_clues,
#close_image {
    background: none;
    border: none;
    cursor: pointer;
}

#clues_container {
    position: relative;
    width: 100%;
    height: 90%;
}

#clues_container>p {
    color: #f0d3aa;
    padding: 5%;
}

.clue {
    position: absolute;
}

.clue>img {
    width: 65%;
    height: auto;
}


/* Sherlock's interventions */
#text_word, #sherlock_word, #text_photo, #sherlock_photo,
#text_warning, #sherlock_warning, #text_hound, #sherlock_hound,
#text_pass, #sherlock_pass, #text_stapleton, #sherlock_stapleton,
#text_henry, #text_pc, #sherlock_pc, #text_out, #sherlock_out,
#text_lights, #sherlock_lights {
    display: none;
    z-index: 15;
}

#text_word, #text_photo, #text_warning,
#text_pass, #text_hound, #text_stapleton,
#text_henry, #text_pc {
    width: 27%;
    margin: 8% 15%;
}

#text_out {
    margin: 16% 13%;
}

#text_henry {
    margin: 36% 23%;
}

#text_lights {
    margin: 17% 67%;
}

#text_hound {
    width: 30%;
}

#text_warning {
    margin: 10% 55%;
}

#text_stapleton {
    margin: 16% 65%;
}

#sherlock_word,
#sherlock_photo,
#sherlock_hound,
#sherlock_pass,
#sherlock_pc,
#sherlock_out {
    bottom: -5%;
    left: 0;
}

#sherlock_warning, #sherlock_lights {
    bottom: -5%;
    right: 5%;
}

#sherlock_stapleton {
    bottom: -5%;
    right: 35%;
}

/* Interaction's with the characters */
.question {
    position: absolute;
    top: 32%;
    left: 5%;
    z-index: 1000;
}

.question_images>img {
    display: block;
    cursor: pointer;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}