#hunter {
    bottom: 0;
    left: 30%;
    cursor: pointer;
}

#sign {
    bottom: 25%;
    left: 5%;
}

#sign:hover {
    cursor: pointer;
    transform: rotate(10deg);
}

.question > .question_images > img:hover {
    transform: scale(1.1); 
}

