header > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
} 

main > a > img {
    position: absolute;
}

#dewer {
    bottom: 0;
    left: 0;
} 

#baskerville {
    top: 0;
    left: 20%;
}

#house {
    bottom: 0;
    left: 50%;
}

#grimpen {
    top: 20px; /* Adicionei "px" para evitar erro */
    right: 0;
}
