/*
html {
    background-color: #303752;
} */

#table {
    bottom: 0;
    left: 0;
} 

#book {
    bottom: 0;
    left: 10%;
}

#mirror {
    left: 10%;
    top: 0;
}

#cabinet {
    right: 10%;
    top: 0;
}

#tv {
    top: 15%;
    left: 40%;
    z-index: 10;
}

#tv:hover {
    cursor: pointer;
}

#tv_cabinet {
    top: 25%;
    left: 28%;
}

#tv_cabinet:hover {
    cursor: pointer;
}

#book {
    bottom: 10%;
    left: 60%;
}