html {
    background-color: #a06b37;
}

#book {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#word {
    top: 40%;
    left: 26%;
}

#word_2 {
    top: 70%;
    left: 51%;
}

#word:hover,
#word_2:hover {
    cursor: pointer;
    transform: rotate(2deg);
}

