html {
    background-color: #67697b;
}

#floor {
    bottom: 0;
    left: 0;
}

#wall_right {
    top: 0;
    right: 0;
}

#wall_left {
    top: 0;
    left: 0;
}

#table {
    bottom: 0;
    left: 0;
} 

#book {
    bottom: 0;
    left: 10%;
}

#mirror {
    left: 20%;
    top: 20%;
}

#cabinet {
    right: 15%;
    bottom: 20%;
}

#tv {
    bottom: 43%;
    left: 40%;
    z-index: 10;
    cursor: pointer;
}

#tv_cabinet {
    bottom: 26%;
    left: 28%;
    cursor: pointer;
}

#book {
    bottom: 10%;
    left: 60%;
    cursor: pointer;
}

@media (max-width: 1680px) { 
    #tv {
        bottom: 41%;
    }
}

@media (max-width: 1580px) { 
    #play_tv {
        top: 25%;
    }
}

@media (max-width: 1480px) { 
    #play_tv {
        top: 30%;
    }
} 

@media (max-width: 1380px) { 
    #play_tv {
        top: 35%;
    }
} 

@media (max-width: 1280px) { 
    #play_tv {
        top: 40%;
    }
} 