html {
    background-color: #67697b;
}

#floor {
    bottom: 0;
    left: 0;
}

#wall_right {
    top: 0;
    right: 0;
}

#wall_left {
    top: 0;
    left: 0;
}

#table {
    bottom: 0;
    left: 0;
} 

#book {
    bottom: 0;
    left: 10%;
}

#mirror {
    left: 20%;
    top: 20%;
}

#cabinet {
    right: 15%;
    bottom: 20%;
}

#tv {
    bottom: 40%;
    left: 40%;
    z-index: 10;
    cursor: pointer;
}

#tv_cabinet {
    bottom: 26%;
    left: 28%;
    cursor: pointer;
}

#book {
    bottom: 10%;
    left: 60%;
    cursor: pointer;
}