html {
    background-color: #885727;
}

#drawer {
    top: 0;
    left: 0;
}

#gun {
    left: 60%;
    top: 25%;
}

#photograph {
    left: 30%;
    top: 30%;
}

#gun:hover {
    transform: rotate(-10deg);
  }

  #photograph:hover {
    transform: rotate(10deg);
  }