html {
    background-color: #885727;
}

#drawer {
    top: 0;
    left: 0;
}

#gun {
    left: 60%;
    top: 25%;
    cursor: pointer;
}

#photograph {
    left: 30%;
    top: 30%;
    cursor: pointer;
}

#gun:hover,
#photograph:hover {
    cursor: pointer;
    transform: rotate(10deg);
}

#text_photo {
    margin: 16% 12%;
}
