#book {
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#word {
    top: 40%;
    left: 28%;
}

#word_2 {
    bottom: 15%;
    right: 34%;
}

#word:hover,
#word_2:hover {
    cursor: pointer;
    transform: rotate(2deg);
}

/* sherlock's interventions */
#text_word {
    top: 26%;
    left: 12%;
}

#sherlock_word {
    bottom: -5%;
    left: 0;
}


/* responsive */
@media (max-width: 1600px) {
    #text_word {
        top: 30%;
    }
}

@media (max-width: 1480px) { 
    #word_2 {
        bottom: 20%;
    }

    #text_word {
        top: 35%;
    }
}

@media (max-width: 1380px) { 
    #word_2 {
        bottom: 25%;
    }

    #text_word {
        top: 40%;
    }
}

@media (max-width: 1280px) { 
    #text_word {
        top: 45%;
    }
}